.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}

/* Cart */
.cart-main{
  margin: 0px 0 17px 0;
  width: 325px;

  .title{
    font-size: 21px;
  }
  .cart-items{

    .delete-btn{

    }
  }
  .cart-total{

    .total-price{
      font-size: 18px;
    }
  }
  .order{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;

    background: @red-color;
    color: #fff;
    display: block;
    float: right;
    margin: 0px 0 0 0px;
    padding: 6px 8px 6px 6px;
    text-transform: uppercase;
    text-decoration: none;
  }
}