<div class="header-wrapper">
  <div class="header-main">
    <div class="logo">
      <a href="#"><img src="../../img/logo.png"></a>
    </div>

    <div class="header-menu-main">
      <ul class="header-menu">
        <li><a href="#">Описание</a></li>
        <li><a href="#">Инструкции</a></li>
        <li><a href="#">Тарифы</a></li>
        <li><a href="#">Магазин</a></li>
      </ul>
    </div>

    <div class="header-phone-main">
      <p>8 800 2000 600</p>
      <a href="#">Оставить заявку</a>
    </div>

  </div>
</div>

<div class="layout">
  <div class="under-header">
    
  </div>

  <div class="product-list-main">

    <div class="product-item" ng-repeat="i in [1,2,3,4]">
      <div class="image-block">
        <div>
          <img src="../../img/product1.png">
        </div>
      </div>
      <div class="desc-block">
        <p class="title">Hikvision DS-2CD2412F-IW</p>
        <ul class="desc">
          <li>Макс разрешение : 1280 x 960</li>
          <li>Режим день\ночи: есть, ИК-фильтр</li>
          <li>Фокусное расстояние (мм): 4</li>
          <li>Wi-Fi: нет</li>
        </ul>
        <p class="price">6 431 Р</p>
        <a href="#" class="buy">КУПИТЬ</a>
      </div>
    </div>

  </div>

  <div class="cart-main">
    
  </div>
</div>