<app-header>
</app-header>

<div class="layout">
  <div class="under-header">
    
  </div>
  
  <!-- Product list -->
  <div class="product-list-main" id="content">

    <div class="product-item" ng-repeat="i in [1,2,3,4]">
      <div class="image-block">
        <div>
          <img src="../../img/product1.png">
        </div>
      </div>
      <div class="desc-block">
        <p class="title">Hikvision DS-2CD2412F-IW</p>
        <ul class="desc">
          <li>Макс разрешение : 1280 x 960</li>
          <li>Режим день\ночи: есть, ИК-фильтр</li>
          <li>Фокусное расстояние (мм): 4</li>
          <li>Wi-Fi: нет</li>
        </ul>
        <p class="price">6 431 Р</p>
        <a href="#" class="buy">КУПИТЬ</a>
      </div>
    </div>

  </div>
  
  <!-- Cart -->
  <app-cart element="#content">
  </app-cart>
</div>

<div class="footer">
  
</div>